.content {
    display: flex;
    margin: 50px 30px;
    justify-content: center;
}

.image-container {
    margin: 10px 20px;
    width: 500px;
}

.item-image {
    max-width: 100%;
    object-fit: cover;
}

.detail-container {
    margin: 10px 20px;
}

.item-name {
    font-family: Inter;
    font-weight: 600;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    color: #000;
    margin: 5px 0;
}

.item-brand {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #000;
    margin-bottom: 15px;
}

.item-price {
    font-family: Inter;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
}

.item-price__value {
    font-family: Inter;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
}

.detail-icon {
    display: flex;
    margin-top: 10px;
}

.purchase__button {
    background-color: #ff5555;
    color: #ffffff;
    height: 40px;
    width: 100%;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    text-align: center;
}

.item-description__label {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    color: #000;
    margin: 10px 0;
}

.item-description {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0;
}

.item-info__box {
    margin-bottom: 30px;
}

.item-info__label {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    color: #000;
    margin: 10px 0;
}

.item-info__tab {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    margin-right: 50px;
}

.item-info__category {
    margin-bottom: 10px;
}

.item-info__category-tab {
    border-radius: 15px;
    background: #d9d9d9;
    color: #000;
}

.item-info__condition {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.comments__label {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    color: #5f5f5f;
    margin: 10px 0;
}

.no-comments {
    margin: 10px 0;
}

.comments-text__label {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    color: #000000;
    margin: 10px 0;
}

.comments__input {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.comments__button {
    background-color: #ff5555;
    color: #ffffff;
    height: 40px;
    width: 100%;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    text-align: center;
}
